<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h4 class="m-0 color-blue"><strong>Estudiantes</strong></h4>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label class="color-blue">Unidad de aprendizaje</mat-label>
        <mat-select [formControl]="courseCtrl" class="color-blue">
          <mat-option *ngFor="let course of courses" [value]="course.id" class="color-blue">
            {{course.Nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<ng-container *ngIf="!studentDetail">
  <app-list [data]="students" (studentDetail)="studentDetail = $event"></app-list>
</ng-container>

<ng-container *ngIf="studentDetail">
  <app-detail [data]="studentDetail" (closeDetail)="studentDetail = $event"></app-detail>
</ng-container>
