:root {
  --app-color-primary: #7475FF;
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: 'Lato', "sans-serif";
  --textFont: 'Muli', sans-serif;
}
